.item{
    padding: 10px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(15, 15, 15, 0.3);
    background-color: rgb(209, 209, 209);
    gap: 10px;
}

.status{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.online{
    composes:status;
    background-color: green;
}

.offline{
    composes:status;
    background-color: red;
}

.avatar{
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(15, 15, 15, 0.3);
}